manifest {
        mainScript = 'main.nf'
        description = 'Pipeline for handling contamination and metagenomics'
}

includeConfig "${params.config ?: 'params.config'}"

process{

        queue='biocore-el7,short-sl7'
        memory='4G'
        cpus='8'
        time='6h'
        scratch = false
        maxRetries = 2
        errorStrategy = 'retry'

        withLabel: brackenFormat {
                queue='biocore-el7,long-sl7'
                time='24h'
        }

}

//process.container = "/path/to/container"
//singularity.enabled = true
