params {
    reads       = "$baseDir/../data/illumina/*_{1,2}.fq.gz"
    protocol    = "paired"
    // Change to YES if needed
    bracken     = "NO"
    // Point to previously created database
    kraken2db   = "/nfs/db/kraken2/test"
    output      = "$baseDir/output"
    email       = "yourmail@yourdomain"
}
