params {
    reads       = "$baseDir/../data/illumina/*_{1,2}.fq.gz"
    // Groups included in kraken2 database
    groups      = "viral,bacteria"
    // Name given to kraken2 database
    dbname      = "test"
    // Point to previously created database
    kraken2db   = "/nfs/db/kraken2/test"
    output      = "$baseDir/output"
    email       = "yourmail@yourdomain"
}
